extends layout

block content
  h1= title
  p Welcome to #{title}
  p Here I am is the wrapper to Nokia Here API to do geocode operations and try to generify the comunication.
  p Consuming this service your application does not have the necessity to know about the API of Nokia, and model of data, working as a microservice that can help to improve your solution.
